Django~=2.0.6
django-admin startproject mysite .
python manage.py migrate
python manage.py runserver
python manage.py startapp blog
python manage.py makemigrations blog
python manage.py createsuperuser