<!DOCTYPE html>
<html>
<head>


</head>
<body>
<div style ="background-color:orange;color:white;padding:30px;">
  <p style="text-align:center;">
  <font size="18">INFINITY</font>
</p>
</div>
<div style ="background-color:white;color:black;padding:50px;">
  <p>
    <h3>WELCOME</h3>
    We help you to get talent near you within your college campus. Our mission is to accelerate the environment  of work collaborations in college. 
    <br>We welcome you to sign in and help us to help you.
    <br><br>
    To add a new post you need to click <a href="rupdeepfazal1.pythonanywhere.com/admin/">this url</a> and give username as 'blog' and password
    as 'blog1234' 
    <br>
    To see the recent posts and to add or edit a post click <a href="{% url 'post_detail' %}">this url</a>
</p>
</div>
<div style ="background-color:brown;color:white;padding:30px;">
<p>
Founders:- Rupdeep Saha & Md Fazal Mustafa
<br><br>
Copyright 2019
<br>All rights reservedg
</p>
</div>




</body>
</html>

    
                